<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>Departments</span>

<div>
    <ul>
        <li th:each="department : ${departments}">
            <span th:text="${department.id}"></span> <br>
            <a th:href="@{'/department?id=' + ${department.id}
            }" th:text="${department.name}"></a> <br>
            <span th:text="${department.description}"></span> <br>
            <a th:href="@{'/profile?id=' + ${department.manager.id}}"
               th:if="${department.manager}"
               th:text="${department.manager.info.surname + ' ' + department.manager.info.name + ' ' +
                department.manager.info.middleName}"></a> <br>
        </li>
    </ul>
</div>

</body>
</html>