<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Espire - Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.ico">

    <!-- page css -->

    <!-- Core css -->
    <link href="assets/css/app.min.css" rel="stylesheet">

</head>

<body>
<div class="auth-full-height container d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card row mx-0 flex-row overflow-hidden">
                <div class="col-md-4 bg-size-cover d-flex align-items-center p-4"
                     style="background-image: url('assets/images/others/bg-3.jpg');">
                    <div>
                        <div class="mb-5">
                            <div class="logo">
                                <img alt="logo" class="img-fluid" src="assets/images/logo/logo-white.png"
                                     style="height: 50px;">
                            </div>
                        </div>
                        <h3 class="text-white">Біздің ақпараттық жүйеге қош келдіңіз</h3>
                        <p class="text-white mt-4 mb-5 o-75">Егер біздің қызметкер болсаңыз, өзіңіздің жеке
                            деректеріңізді енгізіп жүйеге кіріңіз</p>
                    </div>
                </div>
                <div class="col-md-8 px-0">
                    <div class="card-body">
                        <div class="my-5 mx-auto" style="max-width: 350px;">
                            <div class="mb-3">
                                <h3 class="mb-3">Тіркелу</h3>
                                <form action="/register" method="post">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Email</label>
                                        <input name="email" type="email" class="form-control no-validation-icon no-success-validation">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Тегі</label>
                                        <input type="text" class="form-control" name="surname" aria-label="Username">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Аты</label>
                                        <input type="text" class="form-control" name="name" aria-label="Username">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Әкесінің аты</label>
                                        <input type="text" class="form-control" name="middleName" aria-label="Username">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Жынысы</label>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="ER" required>
                                            <label class="form-check-label ms-2" for="inlineRadio1">Ер</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="AYEL" required>
                                            <label class="form-check-label ms-2" for="inlineRadio2">Әйел</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Құпия сөз</label>
                                        <input
                                                type="password"
                                                class="form-control no-validation-icon no-success-validation"
                                                name="password"
                                        >
                                    </div>
                                    <button class="btn btn-primary d-block w-100" type="submit">Тіркелу</button>
                                </form>
                            </div>
                            <div class="mb-3">
                                <i class="icon-home feather"></i>
                                <a href="/" class="text-primary font">Басты бет</a>
                                <i class="icon-log-in feather"></i>
                                <a href="/login" class="text-primary font">Жүйеге кіру</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Core Vendors JS -->
<script src="assets/js/vendors.min.js"></script>

<!-- page js -->

<!-- Core JS -->
<script src="assets/js/app.min.js"></script>

</body>

</html>